body {
  background: #edebebda;
}
.left,
.right {
  box-shadow: 1px 1px 4px 0.5px lightgrey;

  border-radius: 5px;
  /* overflow: hidden; */
}

.left {
  background: #ffffff;
}
.left > button {
  outline: none;
  background: rgb(88, 173, 207);
  border: none;
  padding: 10px 0;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.name {
  padding-top: 50px;
}

.btn-group {
  color: white;

  background: rgb(88, 173, 207) !important;
}

.lower-btn > button {
  outline: none;
  background: rgb(88, 173, 207);
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}

.lower {
  outline: none;
  background: white;
}

.offcanvas {
  width: 80% !important;
}

.offcanvas-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: skyblue;
  font-size: 30px;
}

.upper th,
td {
  border: 1px solid black;
  /* border-radius: ; */
  /* padding: 0!important; */
  /* padding: 8px 10px; */
  width: 150px;
}
.upper th {
  color: skyblue !important;
  /* float: ; */
  /* display: flex; */
}

.upper td {
  font-weight: normal;
  color: grey;
  /* background: #000; */
}

.data-body {
  /* max-height: 400px; */
  overflow-y: scroll;
}

textarea {
  border: none;
  width: 100%;
  /* background: rgb(221, 222, 222); */
  outline: none;
  border: none;
  min-height: 100% !important;
  padding: 10px;
}

.add-section thead {
  background: grey;
  height: 45px;
}
.add-section thead tr {
  overflow: hidden;
  border-radius: 10px 10px 00 00;
}

tfoot tr td {
  background: grey;
}
/* 
.add-section{
  height: 500px;
  overflow: scroll;
} */

.right {
  padding-top: 50px;
}
.edit-btn {
  position: absolute;
  z-index: 999;
  right: 15px;
  top: 2px;
  cursor: pointer;
}


.edit{
  margin-right: 20px;
}

.link-add input{
  padding: 0 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;

}